body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("BackgroundVertical.jpg");
    
    background-color: whitesmoke;

    font-weight: 300;

    padding-left: 70px;
    padding-right: 70px; 
}

.container{
    background-image: url(BrownPaperTexture.jpg);
    opacity: 0.9;
    position: relative;
    top: 70px;
    width: 50%;
    height: 50%;
    width: 360px;

    margin: auto;

    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 1px 1px 1px gainsboro;
    padding: 30px;
}

input{
    border: none;
    border-bottom: 2px solid;
    outline: none;

    height: 32px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;

    width: 100%;
    align-self: center;
}

input[type=text]:focus {
    border-color: brown;
}

ul {
    margin: 0px;
    padding: 0px 22px 22px 22px;
}

li {
    cursor: pointer;
    position: relative;
    padding: 8px 8px 8px 8px;
    list-style-type: none;
    font-size: 18px;
    font-weight: thin;
    transition: 0.7s;
}

li:hover {
    color: brown;
}

li.checked {
    color: brown;
    text-decoration: line-through;
}
li.checked::before {
    content: '';
    position: absolute;
    border-color: brown;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 7px;
    left: 0px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.deleteButton {
    position: absolute;
    width: 22px;
    /* top: 0px; */
    right: 0px;
    /* padding: 8px 8px 8px 8px; */
  }
  
.deleteButton:hover {
    background-color: brown;
    color: white;
}

.btn-group {
    width:100%;
}
.btn-group button {
    background: transparent;
    border: none;
    /* border-bottom-color: brown; */
    font-size: 18px;  
    font-weight: 300;
    padding: 8px;
    margin-top: 8px;
    outline: none;
}
.btn-group button:hover {
    color:brown;
}
.btn-group button.clicked{
    background:brown;
    color: white;
}
  
footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}